<div class="container" ng-repeat="notice in $ctrl.notices">
    <div class="card-boundary col-lg-10 col-xs-12" ng-click="cardDetail()">

        <div id="card-id">{{ notice.boardID }} </div>
        <div class="card-color" style = "background-color : {{ notice.color }};" ></div>

        <div class="card-title col-lg-12 col-xs-12">
            <div class="col-lg-12 col-xs-12">
                <div class="card-title-top col-lg-12 col-xs-12">
                    <div class="card-title-content col-lg-11 col-xs-11">
                        <div class="card-letter-category"> {{notice.categoryList}} </div>
                        <div class="card-letter-title"> {{notice.boardTitle}} </div>
                    </div>
                    <div class="card-favorite col-lg-1 col-xs-1">
                        <img id="card-favor-img" class="card-favor-img" aria-label="favorite">
                    </div>
                </div>

                <div class="card-title-bottom col-lg-12 col-xs-12">
                    <div class="col-lg-4 col-xs-4">
                        <img class="card-img" src = "../assets/images/icon_time.svg">
                        <span class="card-letter">{{notice.boardMeetingTime}}</span>
                    </div>

                    <div class="col-lg-4 col-xs-4">
                        <img class="card-img" src = "../assets/images/icon_map_pin.svg">
                        <span class="card-letter">{{notice.boardLocation}}</span>
                    </div>
                    
                    <div class="col-lg-4 col-xs-4">
                        <div class="card-letter-writer">{{notice.writeUser.name}}</div>
                        <div class="card-letter-writer">{{notice.boardCreateTime.default}}</div>
                    </div>
                </div>       
            </div>       
        </div>
    </div>
</div>
