/*글자, 높이 관련 CSS는 임시로 설정*/

/*app*/
@media screen and (max-width: 767px){

  .card-title-top{
    padding:0;
  }
  .card-title-content{
    padding:0;
    margin-top : 20px;
    margin-bottom : 19px;
  }
  
  .card-letter-category{
    font-size:11px;
    line-height: 11px;
    margin-bottom : 5px;
    font-family: 'Noto Sans KR'; 
    font-style: normal; 
    font-weight: 700;  
   }
  .card-letter-title{
    font-size:18px;
    line-height:22px;
    font-family: 'Noto Sans KR'; 
    font-style: normal; 
    font-weight: 700; 
  }
  .card-favor-img{
    margin-top:-4px;
    width:20px;
    height:30px;
  }

  #card-favor-img{
    background : url('/assets/images/icon_favor_act.svg') no-repeat;
  }

  .card-title-bottom{
    padding:0;
    height:43px;
  }

  .card-title-bottom div{
    padding:0;
  }

  .card-img{
    width:13px;
    height:13px;
  }

  .card-letter{
    font-size:11px;
    line-height: 13px;
    font-family: 'Noto Sans KR'; 
    font-style: normal; 
    font-weight: 100; 
  }

  .card-letter-writer{
    display: inline-block;
    font-size:11px;
    line-height:17px;
    float:right;
    font-family: 'Noto Sans KR'; 
    font-style: normal; 
    font-weight: 100; 
  }
   
}

/*web*/
@media screen and (min-width : 1200px){

  .card-letter{
    text-indent: 30px;
  }
  .card-img{
    width:50px;
    height:50px;
  }
}

.card-boundary{
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: row;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin-bottom:20px;
  padding : 0px;
}

.card-color{
  background-color : #F2F2F2;
  width : 1.2%;
}

.card-favorite{
  float:right;
  padding:0px;
}

.card-title{
  margin:0;
  padding:0;
  float:left;
  display: block;
}






/*
#location-img{
   float:left;
   background: url("/assets/images/location.png");
}

#time-img{
   float:left;
   background: url("/assets/images/time.png");
}

#favorite-img{
   float:left;
   background: url("/assets/images/favorite.jpg");
}
*/
